<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename = '/src/output.css')}}">
    <link rel="stylesheet" href="/static/style.css"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  
</head>
<body class="bg-black">

    <nav class="p-4 shadow-lg nav_flex bg-black">
        <!-- Logo -->
        <div class="text-lg font-semibold text-pink-200">
          Placidux
        </div>
    
        <div class="container">
          <!-- Navigation Links -->
          <ul class="flex space-x-8 text-sm font-semibold my-3">
            <li><a href="#" class="hover:text-pink-400 text-white">Home</a></li>
            <li><a href="#" class="hover:text-pink-400 text-white">Blog</a></li>
            <li><a href="#" class="hover:text-pink-400 text-white">Book Online</a></li>
            <li><a href="#" class="hover:text-pink-400 text-white">Portfolio</a></li>
          </ul>
    
          <!-- Search Bar -->
          <div class="relative">
            <input type="text" placeholder="Search..."
              class="bg-black border-b-2 border-purple-500 text-white py-1 px-2 focus:outline-none">
          </div>
        </div>
      </nav>












</body>

</html>